.jumbotron{
    background-color: #591fa5;
    padding: 0;
    margin-bottom: 40px;
}
.navbar.navbar-inverse {
    background-color: #591fa5;
    border-color: #591fa5;
    border-radius: 0;
    margin-bottom: 0;
}
.navbar {
    min-height: 60px;
}
.navbar-nav{
    padding-top: 25px;
    padding-bottom: 15px;
}
.navbar-inverse .navbar-nav>li>a {
    color: rgba(255, 255, 255, 0.7);
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
    color: rgba(255, 255, 255, 0.7);
    background-color: transparent;
}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
    color: #fff;
    background-color: transparent;
}
.navbar a:focus,
.navbar button:focus {
    outline: none;
}
.navbar-brand img{
    height: 60px;
    width: auto;
}
.hero-image{
    margin-top: 5px;
    width: 100%;
    height: 520px;
    object-fit: cover;
    object-position: center;
}
.break-banner{
    color: #591fa5;
    padding: 0px;
    font-size: 30px;
    font-weight: 500;
    font-family: 'Segoe UI', sans-serif;
    text-align: center;
}
body{
    padding-top: 100px;
}
.text-section{
    max-width: 900px;
    margin: 0 auto;
    padding: 40px 20px;
    font-size: 18px;
}
.big-bold{
    font-size: 35px;
    font-weight: 300;
}
.next-concert{
    background-color: #591fa5;
    color: #fff;
    padding: 20px;
    margin-top: 20px;
}
.mid-text{
    max-width: 1100px;
    margin: 0 auto;
    padding: 40px;
    font-size: 30px !important;
}
.row{
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.needcolor{
    background-color: #591fa5;
    padding-bottom: 40px;
    padding-top: 40px;
}
.text-section2{
    max-width: 200px;
    margin: 0 auto;
    padding: 40px 20px;
    font-size: 15px;
}
.whitecolor{
    color: #fff;
    padding-left: 20px;
}
.size-change{
    font-size: 20px;
}
.final{
    display: block;
    margin: 0 auto;
}